<!-- Optionally shown 'Clear subject filter' button -->
{% macro conditional_clear_btn(route, tracer, subject_id, tab) %}
{% if subject_id %}
<a class='btn btn-outline-secondary nav-button' href='{{ url_for(route, tracer=tracer, subject_id=None, _anchor=tab) }}'>Clear subject filter</a>
{% endif %}
{% endmacro %}

{% macro report_header(tracer) %}
    <div class='col-md-3 header'>
            <h1> {{ tracer.upper() }} Report</h1>
    </div>
{% endmacro %}

<!--  Make subject column clickable to filter on that subject -->
{% macro subject_link(route, show_link, tracer, subject, tab) %}
<div class='col-md-1 title'>
    {% if show_link %}
        <a href='{{ url_for(route, tracer=tracer, subject_id=subject, _anchor=tab) }}'>{{ subject }}</a>
    {% endif %}
</div>
{% endmacro %}
