<!--  Make subject column clickable to filter on that subject -->
{% macro subject_link(route, show_link, subject, anchor) %}
<div class='col-md-1 title'>
    {% if show_link %}
        <a href='{{ url_for(route, tracer=tracer, view_id=view_id, subject_id=subject, _anchor=anchor) }}'>{{ subject }}</a>
    {% endif %}
</div>
{% endmacro %}

<!-- transform tab name into url/html safe string -->
{% macro get_anchor(tab) %}
{{ '-'.join(tab.name.lower().split()) if tab.name else '' }}
{% endmacro %}
