{% extends 'layout.html' %}

{% block layout_content %}

{% if tab is undefined %}
    {% set tab = conf.tabs[0] %}
{% endif %}
{% set anchor = shared.get_anchor(tab) %}

{% include 'nav.html' %}

{% block form_content scoped %}{% endblock form_content %}
<br/>

{% include 'header.html' %}

{% for row in data[tab['name']] | sort(attribute='subject') %}
    {% if not subject_id or row.subject == subject_id %}
        <hr/>
        {% for i in range(max_length) %}
        <div class='row'>
            {{ shared.subject_link(route, i == 0, row.subject, anchor) }}
            {% for condition in row.data.keys() %}
            <div class='col-md-3'>
                {% set item = row.data[condition][i] %}
                {% if item %}
                    {% block tab_content scoped %}{% endblock tab_content %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}
{% endfor %}

{% endblock layout_content %}
