{% extends 'base.html' %}

{% set route = 'aif_report' %}

{% block content %}

<div class='row'>
    <div class='col-md-12'>
        <nav class='breadcrumb'>
          <a class='breadcrumb-item' href='{{ url_for('fig_report', subject_id=subject_id) }}'>Combined plots</a>
          <a class='breadcrumb-item' href='{{ url_for('plot_report', subject_id=subject_id, _anchor='aif') }}'>Data tables</a>
          <span class='breadcrumb-item active'>Rad Measurements</span>
        </nav>
    </div>
</div>

<br/>
<div class='row'>
    <div class='nav-form'>
        {{ shared.conditional_clear_btn(route, subject_id) }}
    </div>
</div>

<form id='show-pdf-form' method='get' target='_new' action='{{ url_for('show_pdf') }}'>
    <div class='form-row'>
        <label for='subject' class='col-sm-1 control-label'>Subject:</label>
        <select name='subject' id='sub-select' class='form-control col-sm-1'>
            {% for subject in subject_list %}
            <option value='{{subject}}'{% if subject == subject_id %} selected='selected' {% endif %}>{{subject}}</option>
            {% endfor %}
        </select>
    </div>
    <div class='form-row'>
        <label for='condition' class='col-sm-1 control-label'>Condition:</label>
        <select name='condition' id='cond-select' class='form-control col-sm-1'>
            {% for condition in ['basal', 'hypergly', 'hyperins'] %}
            <option value='{{condition}}'>{{condition}}</option>
            {% endfor %}
        </select>
    </div>
    <div class='form-row'>
        <div class='col-sm-1 offset-sm-1'>
            <input type='submit' class='btn btn-primary' id='show-pdf-btn' value='View'/>
        </div>
    </div>
</form>



{% endblock %}
