{% extends 'base.html' %}

{% set route = 'tac_report' %}

<!--  Create a macro to iterate through data object and display appropriate images -->
{% macro display_images(image_type) %}

<div class='row'>
    <div class='nav-form'>
        {{ shared.conditional_clear_btn(route, tracer, subject_id, image_type) }}
    </div>
</div>

<br/>
<form id='img-form'>
    {% set start_slice = slice if slice else max_slice // 2 %}
    <div class='form-row'>
        <label for='slice-counter' class='col-sm-1 control-label'>Slice #</label>
        <div class='col-sm-1'>
            <input type='range' class='form-control-range' id='{{image_type}}-slice-counter' name='slice'
                min='1' max='{{max_slice}}' value='{{start_slice}}' onchange='updateSlice("{{image_type}}", this.value)'/>
        </div>
        <label class='control-label col-sm-1' id='{{image_type}}-current-slice' name='current-slice'>{{ start_slice }}</label>
    </div>
    {% if image_type == 'time-series' %}
        {% set start_frame = frame if frame else 1 %}
        <div class='form-row'>
            <label for='frame-counter' class='col-sm-1 control-label'>Frame #</label>
            <div class='col-sm-1'>
                <input type='range' class='form-control-range' id='{{image_type}}-frame-counter' name='frame'
                    min='1' max='{{max_frame}}' value='{{start_frame}}' onchange='updateFrame("{{image_type}}", this.value)'/>
            </div>
            <label class='control-label col-sm-1' id='current-frame' name='current-frame'>{{ start_frame }}</label>
        </div>
    {% endif %}
</form>
<br/>


{% include 'header.html' %}

{% for row in data[image_type] | sort(attribute='subject') %}
    {% if not subject_id or row.subject == subject_id %}
        <hr/>
        {% for i in range(max_length) %}
        <div class='row'>
            {{ shared.subject_link(route, i == 0, tracer, row.subject) }}
            {% for condition in row.data.keys() %}
            <div class='col-md-3'>
                {% set item = row.data[condition][i] %}
                {% if item %}
                    <img class='img-fluid horiz-align'
                        id='{{image_type}}_{{row.subject}}_{{condition}}{{i}}'
                        src='{{ url_for('access_slice', filename=item, slice=slice, frame=frame) }}'
                        data-toggle='popover' data-placement='top' data-content='{{ item }}'/>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}
{% endfor %}

{% endmacro %}

{% block content %}

<div class='row'>
    <div class='col-md-12'>
        <nav class='breadcrumb'>
          <a class='breadcrumb-item' href='{{ url_for('fig_report', tracer=tracer, subject_id=subject_id) }}'>Combined plots</a>
          <a class='breadcrumb-item' href='{{ url_for('plot_report', tracer=tracer, subject_id=subject_id) }}'>Data tables</a>
          <span class='breadcrumb-item active'>TAC images</span>
        </nav>
    </div>
</div>

{{ shared.report_header(tracer) }}

<ul class='nav nav-tabs' role='tablist'>
    {% for tab in ['Time series', 'Time integral'] %}
        <li class='nav-item'>
            <a class='nav-link {{ 'active' if tab == 'Time series' }}' data-toggle='tab' href='#{{ '-'.join(tab.split()).lower() }}' role='tab'>{{ tab }}</a>
        </li>
    {% endfor %}
</ul>

<div class='tab-content'>
    <div class='tab-pane fade show active' id='time-series' role='tabpanel'>
        {{ display_images('time-series') }}
    </div>
    <div class='tab-pane fade' id='time-integral' role='tabpanel'>
        {{ display_images('time-integral') }}
    </div>
</div>

<script>
    var data = JSON.parse('{{ data | tojson | safe }}');
    var subject_id = '{{ subject_id if subject_id else '' }}';
    var max_length = '{{ max_length }}';

    function updateImages(image_type, slice, frame) {
        var slice = document.getElementById(image_type + '-slice-counter').value;
        var frame = document.getElementById('time-series-frame-counter').value;

        // var slice_str = options.hasOwnProperty('slice') ? 'slice=' + options.slice : '';
        // var frame_str = options.hasOwnProperty('frame') ? 'frame=' + options.frame : '';
        for (var i = 0; i < data[image_type].length; i++) {
            var row = data[image_type][i];
            if (subject_id != '' && subject_id != row.subject){
                continue;
            }
            for (var j = 0; j < max_length; j++){
                for (var prop in row.data) {
                    var id = image_type + '_' + row.subject + '_' + prop + j;
                    var img = document.getElementById(id);
                    if (img != null) {
                        img.src = '/imshow/' + row.data[prop][j] + '?slice=' + slice + '&frame=' + frame;
                    }
                }
            }
        }
    }

    function updateSlice(image_type, slice) {
        document.getElementById(image_type + '-current-slice').innerHTML = slice;
        updateImages(image_type);
    }

    function updateFrame(image_type, frame) {
        document.getElementById('current-frame').innerHTML = frame;
        updateImages(image_type);
    }

</script>

{% endblock %}
