{% extends 'base.html' %}

{% set route = 'tac_report' %}

<!--  Create a macro to iterate through data object and display appropriate images -->
{% macro display_images(image_type) %}

<div class='row'>
    <div class='nav-form'>
        {{ shared.conditional_clear_btn(route, subject_id) }}
    </div>
</div>

<form id='img-form' method='post' action='{{ url_for('tac_report', subject_id=subject_id, _anchor=image_type)}}'>
    {% set start_slice = slice if slice else 65 %}
    <div class='form-row'>
        <label for='slice-counter' class='col-sm-1 offset-sm-1 control-label'>Slice #</label>
        <div class='col-sm-1'>
            <input type='range' class='form-control-range' id='slice-counter' name='slice'
                min='1' max='127' value='{{start_slice}}'/>
        </div>
    </div>
    {% if image_type == 'time-series' %}
    {% set start_frame = frame if frame else 0 %}
    <div class='form-row'>
        <label for='frame-counter' class='col-sm-1 offset-sm-1 col-form-label'>Frame #</label>
        <div class='col-sm-1'>
            <input type='range' class='form-control-range' id='frame-counter' name='frame'
                min='1' max='73' value='{{start_frame}}'/>
        </div>
    </div>
    {% endif %}
    <div class='form-row'>
        <input type='submit' class='btn btn-primary offset-sm-2' value='Submit'/>
    </div>
</form>
<br/>

{% include 'header.html' %}
{% for row in data[image_type] | sort(attribute='subject') %}
    {% if not subject_id or row.subject == subject_id %}
    <hr/>
    <div class='row'>
        {{ shared.subject_link(route, row.subject) }}
        {% for condition, item in row.data.items() %}
            <div class='col-md-3'>
                {% if item %}
                    {% if item.endswith('.4dfp.img') %}
                        <img class='img-fluid horiz-align'
                            src='{{ url_for('access_slice', filename=item, slice=slice, frame=frame) }}'
                            data-toggle='popover' data-placement='top' data-content='{{ item }}'/>
                    {% else %}
                        <img class='img-fluid horiz-align' src='{{ url_for('access_file', filename=item) }}'
                            data-toggle='popover' data-placement='top' data-content='{{ item }}'/>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endfor %}
{% endmacro %}

{% block content %}

<div class='row'>
    <div class='col-md-12'>
        <nav class='breadcrumb'>
          <a class='breadcrumb-item' href='{{ url_for('fig_report', subject_id=subject_id) }}'>Combined plots</a>
          <a class='breadcrumb-item' href='{{ url_for('plot_report', subject_id=subject_id) }}'>Data tables</a>
          <span class='breadcrumb-item active'>TAC images</span>
        </nav>
    </div>
</div>

<ul class='nav nav-tabs' role='tablist'>
    {% for tab in ['Time integral', 'Time series'] %}
        <li class='nav-item'>
            <a class='nav-link {{ 'active' if tab == 'Time integral' }}' data-toggle='tab' href='#{{ '-'.join(tab.split()).lower() }}' role='tab'>{{ tab }}</a>
        </li>
    {% endfor %}
</ul>

<div class='tab-content'>
    <div class='tab-pane fade show active' id='time-integral' role='tabpanel'>
        {{ display_images('time-integral') }}
    </div>
    <div class='tab-pane fade' id='time-series' role='tabpanel'>
        {{ display_images('time-series') }}
    </div>
</div>

{% endblock %}
